UL#navigation-1 {
	PADDING-RIGHT: 0px; BORDER-TOP: #8e191c 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; MARGIN: 0px; FONT: bold 8pt verdana, arial, helvetica; WIDTH: 100%; PADDING-TOP: 1px; BORDER-BOTTOM: #8e191c 0px solid; LIST-STYLE-TYPE: none; HEIGHT: 24px
}
UL#navigation-1 LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 118px; PADDING-TOP: 0px; POSITION: relative
}
UL#navigation-1 LI A:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: #a21d21; PADDING-BOTTOM: 4px; WIDTH: 118px; COLOR: #ffffff; PADDING-TOP: 4px; HEIGHT: 13px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
UL#navigation-1 LI A:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: #a21d21; PADDING-BOTTOM: 4px; WIDTH: 118px; COLOR: #ffffff; PADDING-TOP: 4px; HEIGHT: 13px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
UL#navigation-1 LI:hover A {
	BORDER-RIGHT: #ffffff 0px solid; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: #b9121b; PADDING-BOTTOM: 4px; BORDER-LEFT: #ffffff 0px solid; WIDTH: 118px; COLOR: #ffffff; PADDING-TOP: 4px; HEIGHT: 13px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
UL#navigation-1 LI A:hover {
	BORDER-RIGHT: #ffffff 0px solid; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: #b9121b; PADDING-BOTTOM: 4px; BORDER-LEFT: #ffffff 0px solid; WIDTH: 118px; COLOR: #ffffff; PADDING-TOP: 4px; HEIGHT: 13px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
UL#navigation-1 LI A:active {
	BORDER-RIGHT: #ffffff 0px solid; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: #b9121b; PADDING-BOTTOM: 4px; BORDER-LEFT: #ffffff 0px solid; WIDTH: 118px; COLOR: #ffffff; PADDING-TOP: 4px; HEIGHT: 13px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
UL#navigation-1 LI UL.navigation-2 {
	BORDER-RIGHT: #8e191c 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b9121b 3px solid; DISPLAY: none; PADDING-LEFT: 1px; BACKGROUND: #ffffff; LEFT: -1px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 8pt verdana, arial, helvetica; BORDER-LEFT: #8e191c 1px solid; WIDTH: 118px; PADDING-TOP: 1px; BORDER-BOTTOM: #8e191c 1px solid; LIST-STYLE-TYPE: none; POSITION: absolute; TOP: 21px
}
UL#navigation-1 LI:hover UL.navigation-2 {
	DISPLAY: block
}
UL#navigation-1 LI UL.navigation-2 LI {
	CLEAR: left; WIDTH: 118px
}
UL#navigation-1 LI UL.navigation-2 LI A:link {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 1000; BACKGROUND: #eaedef; PADDING-BOTTOM: 4px; WIDTH: 118px; COLOR: #333; BORDER-TOP-STYLE: none; PADDING-TOP: 4px; BORDER-BOTTOM: #ffffff 1px solid; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: relative
}
UL#navigation-1 LI UL.navigation-2 LI A:visited {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 1000; BACKGROUND: #eaedef; PADDING-BOTTOM: 4px; WIDTH: 118px; COLOR: #333; BORDER-TOP-STYLE: none; PADDING-TOP: 4px; BORDER-BOTTOM: #ffffff 1px solid; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: relative
}
UL#navigation-1 LI UL.navigation-2 LI:hover A {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 1000; BACKGROUND: #fdfeff; PADDING-BOTTOM: 4px; WIDTH: 118px; COLOR: #333; BORDER-TOP-STYLE: none; PADDING-TOP: 4px; BORDER-BOTTOM: #ffffff 1px solid; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: relative
}
UL#navigation-1 LI UL.navigation-2 LI A:active {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 1000; BACKGROUND: #fdfeff; PADDING-BOTTOM: 4px; WIDTH: 118px; COLOR: #333; BORDER-TOP-STYLE: none; PADDING-TOP: 4px; BORDER-BOTTOM: #ffffff 1px solid; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: relative
}
UL#navigation-1 LI UL.navigation-2 LI A:hover {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 1000; BACKGROUND: #fdfeff; PADDING-BOTTOM: 4px; WIDTH: 118px; COLOR: #333; BORDER-TOP-STYLE: none; PADDING-TOP: 4px; BORDER-BOTTOM: #ffffff 1px solid; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: relative
}
UL#navigation-1 LI UL.navigation-2 LI UL.navigation-3 {
	BORDER-RIGHT: #b9121b 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b9121b 1px solid; DISPLAY: none; PADDING-LEFT: 1px; Z-INDEX: 900; BACKGROUND: #ffffff; LEFT: 145px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #b9121b 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #b9121b 1px solid; LIST-STYLE-TYPE: none; POSITION: absolute; TOP: -2px
}
UL#navigation-1 LI UL.navigation-2 LI:hover UL.navigation-3 {
	DISPLAY: block
}
UL#navigation-1 LI UL.navigation-2 LI UL.navigation-3 LI A:link {
	BACKGROUND: #b9121b
}
UL#navigation-1 LI UL.navigation-2 LI UL.navigation-3 LI A:visited {
	BACKGROUND: #b9121b
}
UL#navigation-1 LI UL.navigation-2 LI UL.navigation-3 LI:hover A {
	BACKGROUND: #ec454e
}
UL#navigation-1 LI UL.navigation-2 LI UL.navigation-3 LI A:hover {
	BACKGROUND: #ec454e
}
UL#navigation-1 LI UL.navigation-2 LI UL.navigation-3 LI A:active {
	BACKGROUND: #ec454e
}
UL#navigation-1 LI UL.navigation-2 LI A SPAN {
	FONT-SIZE: 12pt; LEFT: 132px; COLOR: #fe676f; POSITION: absolute; TOP: 0px
}
UL#navigation-1 LI UL.navigation-2 LI:hover A SPAN {
	FONT-SIZE: 12pt; LEFT: 132px; COLOR: #ffffff; POSITION: absolute; TOP: 0px
}
UL#navigation-1 LI UL.navigation-2 LI A:hover SPAN {
	FONT-SIZE: 12pt; LEFT: 132px; COLOR: #ffffff; POSITION: absolute; TOP: 0px
}
